crewai==0.11.2
numpy>=1.20.0
litellm==1.68.0
langchain==0.1.0
langchain-openai==0.0.5
instructor==0.5.2
regex==2023.12.25
langchain_anthropic==0.1.0
streamlit==1.42.0
langchain_community==0.1.0
pip==25.1.1
